<div class="articles-container d-grid">
  <div class="main-img bg-cover">
  </div>
  <div class="side-img bg-cover">
  </div>
  <div class="ctg-img ctg-one bg-cover">
  </div>
  <div class="ctg-img ctg-two bg-cover">
  </div>
  <div class="ctg-img ctg-three bg-cover">
  </div>
  <div class="ctg-img ctg-four bg-cover">
  </div>
</div>