<div class="articles-container d-grid">
  <div class="main-img bg-cover overlay">
  </div>
  <div class="side-img bg-cover overlay">
  </div>
  <div class="ctg-img ctg-one bg-cover overlay">
    <h2 class="ctg-title">Business</h2>
    <p class="ctg-phrase">La'Bella Caffe' opens in town</p>
  </div>
  <div class="ctg-img ctg-two bg-cover overlay">
    <h2 class="ctg-title">Sports</h2>
    <p class="ctg-phrase">La'Bella Caffe' opens in town</p>
  </div>
  <div class="ctg-img ctg-three bg-cover overlay">
    <h2 class="ctg-title">Fashion</h2>
    <p class="ctg-phrase">La'Bella Caffe' opens in town</p>
  </div>
  <div class="ctg-img ctg-four bg-cover overlay">
    <h2 class="ctg-title">Entertainment</h2>
    <p class="ctg-phrase">La'Bella Caffe' opens in town</p>
  </div>
</div>